{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0.0",
    "title" : "BungieNetApi"
  },
  "schemes" : [ "https" ],
  "basePath" : "/Platform",
  "host" : "bungie.net",
  "definitions" : {
    "PlayerSearchResult" : {
      "properties" : {
        "iconPath" : {
          "type" : "string"
        },
        "membershipType" : {
          "$ref" : "#/definitions/MembershipType"
        },
        "membershipId" : {
          "$ref" : "#/definitions/MembershipId"
        },
        "displayName" : {
          "type" : "string"
        }
      }
    },
    "PlayerSearchResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BungieResponseBoilerplate"
      }, {
        "properties" : {
          "Response" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/PlayerSearchResult"
            }
          }
        }
      } ]
    },
    "DestinyAccountResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BungieResponseBoilerplate"
      }, {
        "properties" : {
          "Response" : {
            "$ref" : "#/definitions/DestinyAccountResult"
          }
        }
      } ]
    },
    "DestinyAccountResult" : {
      "properties" : {
        "data" : {
          "properties" : {
            "characters" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Character"
              }
            },
            "grimoireScore" : {
              "type" : "integer"
            },
            "inventory" : {
              "type" : "array",
              "items" : {
                "properties" : {
                  "currencies" : {
                    "type" : "array",
                    "items" : {
                      "properties" : {
                        "itemHash" : {
                          "type" : "integer"
                        },
                        "value" : {
                          "type" : "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "membershipType" : {
              "$ref" : "#/definitions/MembershipType"
            },
            "membershipId" : {
              "$ref" : "#/definitions/MembershipId"
            },
            "versions" : {
              "type" : "integer"
            }
          }
        }
      }
    },
    "DestinyItemsResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BungieResponseBoilerplate"
      }, {
        "properties" : {
          "Response" : {
            "$ref" : "#/definitions/DestinyItemsResult"
          }
        }
      } ]
    },
    "DestinyItemsResult" : {
      "properties" : {
        "data" : {
          "properties" : {
            "characters" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Character"
              }
            },
            "items" : {
              "$ref" : "#/definitions/ItemArray"
            }
          }
        }
      }
    },
    "GetCharacterSummaryResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BungieResponseBoilerplate"
      }, {
        "properties" : {
          "Response" : {
            "properties" : {
              "data" : {
                "$ref" : "#/definitions/Character"
              }
            }
          }
        }
      } ]
    },
    "GetStatsResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BungieResponseBoilerplate"
      } ]
    },
    "AccessTokenResponse" : {
      "allOf" : [ {
        "$ref" : "#/definitions/BungieResponseBoilerplate"
      }, {
        "properties" : {
          "Response" : {
            "properties" : {
              "accessToken" : {
                "$ref" : "#/definitions/AccessToken"
              },
              "refreshToken" : {
                "$ref" : "#/definitions/AccessToken"
              },
              "scope" : {
                "type" : "integer",
                "description" : "Permission flags. Read basic info (1), Move or Equip Destiny Items (32), Read Destiny inventory and vault (64), Read user data (128), Read Destiny vendors and advisors (512)"
              }
            }
          }
        }
      } ]
    },
    "AccessToken" : {
      "properties" : {
        "value" : {
          "type" : "string",
          "description" : "The access token"
        },
        "readyin" : {
          "type" : "integer",
          "description" : "The number of seconds before this token becomes valid"
        },
        "expires" : {
          "type" : "integer",
          "description" : "THe number of seconds before this token becomes invalid"
        }
      }
    },
    "BungieResponseBoilerplate" : {
      "properties" : {
        "ErrorCode" : {
          "type" : "integer"
        },
        "ErrorStatus" : {
          "type" : "string",
          "description" : "Error enum value"
        },
        "Message" : {
          "type" : "string"
        },
        "MessageData" : {
          "type" : "string"
        },
        "ThrottleSeconds" : {
          "type" : "integer"
        }
      }
    },
    "MembershipType" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "XBL (1) or PSN (2)"
    },
    "MembershipId" : {
      "type" : "string",
      "description" : "The Destiny Membership ID"
    },
    "BungieAssetPath" : {
      "type" : "string",
      "description" : "the relative path to an asset on www.bungie.net"
    },
    "CharacterStat" : {
      "properties" : {
        "maximumValue" : {
          "type" : "integer"
        },
        "statHash" : {
          "type" : "integer"
        },
        "value" : {
          "type" : "integer"
        }
      }
    },
    "Character" : {
      "properties" : {
        "backgroundPath" : {
          "$ref" : "#/definitions/BungieAssetPath"
        },
        "baseCharacterLevel" : {
          "type" : "integer"
        },
        "characterBase" : {
          "properties" : {
            "buildStatGroupHash" : {
              "type" : "integer"
            },
            "characterId" : {
              "type" : "integer"
            },
            "classHash" : {
              "type" : "integer"
            },
            "classType" : {
              "type" : "integer",
              "description" : "Titan (0), Hunter (1), or Warlock (2)"
            },
            "currentActivityHash" : {
              "type" : "integer"
            },
            "customization" : {
              "properties" : {
                "decalColor" : {
                  "type" : "integer"
                },
                "decalIndex" : {
                  "type" : "integer"
                },
                "eyeColor" : {
                  "type" : "integer"
                },
                "face" : {
                  "type" : "integer"
                },
                "featureColor" : {
                  "type" : "integer"
                },
                "featureIndex" : {
                  "type" : "integer"
                },
                "hairColor" : {
                  "type" : "integer"
                },
                "hairIndex" : {
                  "type" : "integer"
                },
                "lipColor" : {
                  "type" : "integer"
                },
                "personality" : {
                  "type" : "integer"
                },
                "skinColor" : {
                  "type" : "integer"
                },
                "wearHelmet" : {
                  "type" : "boolean"
                }
              }
            },
            "dateLastPlayed" : {
              "type" : "string",
              "format" : "date-time"
            },
            "genderType" : {
              "type" : "integer",
              "description" : "Male (0) or Female (1)"
            },
            "genderHash" : {
              "type" : "integer"
            },
            "grimoireScore" : {
              "type" : "integer"
            },
            "lastCompletedStoryHash" : {
              "type" : "integer"
            },
            "membershipId" : {
              "$ref" : "#/definitions/MembershipId"
            },
            "membershipType" : {
              "$ref" : "#/definitions/MembershipType"
            },
            "minutesPlayedThisSession" : {
              "type" : "integer"
            },
            "minutesPlayedTotal" : {
              "type" : "integer"
            },
            "peerView" : {
              "properties" : {
                "equipment" : {
                  "type" : "array",
                  "items" : {
                    "properties" : {
                      "dyes" : {
                        "type" : "array",
                        "items" : {
                          "properties" : {
                            "channelHash" : {
                              "type" : "integer"
                            },
                            "dyeHash" : {
                              "type" : "integer"
                            }
                          }
                        }
                      },
                      "itemHash" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              }
            },
            "powerLevel" : {
              "type" : "integer",
              "minimum" : 0,
              "maximum" : 400
            },
            "raceHash" : {
              "type" : "integer"
            },
            "stats" : {
              "properties" : {
                "STAT_AGILITY" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_ARMOR" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_ATTACK_EFFICIENCY" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_ATTACK_ENERGY" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_ATTACK_SPEED" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_DAMAGE_REDUCTION" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_DEFENSE" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_DISCIPLINE" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_INTELLECT" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_LIGHT" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_OPTICS" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_RECOVERY" : {
                  "$ref" : "#/definitions/CharacterStat"
                },
                "STAT_STRENGTH" : {
                  "$ref" : "#/definitions/CharacterStat"
                }
              }
            }
          }
        },
        "characterLevel" : {
          "type" : "integer"
        },
        "emblemHash" : {
          "type" : "integer"
        },
        "emblemPath" : {
          "$ref" : "#/definitions/BungieAssetPath"
        },
        "isPrestigeLevel" : {
          "type" : "boolean"
        },
        "levelProgression" : {
          "properties" : {
            "currentProgress" : {
              "type" : "integer"
            },
            "dailyProgress" : {
              "type" : "integer"
            },
            "level" : {
              "type" : "integer"
            },
            "nextLevelAt" : {
              "type" : "integer"
            },
            "progressionHash" : {
              "type" : "integer"
            },
            "progressToNextLevel" : {
              "type" : "integer"
            },
            "step" : {
              "type" : "integer"
            },
            "weeklyProgress" : {
              "type" : "integer"
            }
          }
        },
        "percentToNextLevel" : {
          "type" : "integer"
        }
      }
    },
    "Item" : {
      "properties" : {
        "bucketHash" : {
          "type" : "integer"
        },
        "characterIndex" : {
          "type" : "integer"
        },
        "damageType" : {
          "type" : "integer"
        },
        "damageTypeHash" : {
          "type" : "integer"
        },
        "isGridComplete" : {
          "type" : "integer"
        },
        "itemHash" : {
          "type" : "integer"
        },
        "itemId" : {
          "type" : "integer"
        },
        "primaryStat" : {
          "properties" : {
            "maximumValue" : {
              "type" : "integer"
            },
            "statHash" : {
              "type" : "integer"
            },
            "value" : {
              "type" : "integer"
            }
          }
        },
        "quantity" : {
          "type" : "integer"
        },
        "state" : {
          "type" : "integer"
        },
        "transferStatus" : {
          "type" : "integer"
        }
      }
    },
    "ItemArray" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Item"
      }
    }
  },
  "paths" : {
    "/Destiny/{membershipType}/Account/{destinyMembershipId}/Summary/" : {
      "get" : {
        "tags" : [ "DestinyService" ],
        "description" : "Returns Destiny account information for the supplied membership.\n",
        "parameters" : [ {
          "$ref" : "#/parameters/BungieNetApiKey"
        }, {
          "$ref" : "#/parameters/MembershipType"
        }, {
          "$ref" : "#/parameters/DestinyMembershipId"
        }, {
          "$ref" : "#/parameters/GetDefinitions"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/DestinyAccountResponse"
            }
          }
        }
      }
    },
    "/Destiny/SearchDestinyPlayer/{membershipType}/{username}/" : {
      "get" : {
        "tags" : [ "DestinyService" ],
        "description" : "Search for a player",
        "parameters" : [ {
          "$ref" : "#/parameters/BungieNetApiKey"
        }, {
          "$ref" : "#/parameters/MembershipType"
        }, {
          "name" : "username",
          "in" : "path",
          "description" : "Gamertag or PSN ID to search for",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/PlayerSearchResponse"
            }
          }
        }
      }
    },
    "/Destiny/{membershipType}/Account/{destinyMembershipId}/Character/{characterId}/" : {
      "get" : {
        "tags" : [ "DestinyService" ],
        "description" : "Get a character summary",
        "parameters" : [ {
          "$ref" : "#/parameters/BungieNetApiKey"
        }, {
          "$ref" : "#/parameters/MembershipType"
        }, {
          "$ref" : "#/parameters/DestinyMembershipId"
        }, {
          "$ref" : "#/parameters/CharacterId"
        }, {
          "$ref" : "#/parameters/GetDefinitions"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/GetCharacterSummaryResponse"
            }
          }
        }
      }
    },
    "/Destiny/{membershipType}/Account/{destinyMembershipId}/Items/" : {
      "get" : {
        "tags" : [ "DestinyService" ],
        "description" : "Returns Destiny account information for the supplied membership.\n",
        "parameters" : [ {
          "$ref" : "#/parameters/BungieNetApiKey"
        }, {
          "$ref" : "#/parameters/MembershipType"
        }, {
          "$ref" : "#/parameters/DestinyMembershipId"
        }, {
          "$ref" : "#/parameters/GetDefinitions"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/DestinyItemsResponse"
            }
          }
        }
      }
    },
    "/Destiny/Stats/ActivityHistory/{membershipType}/{destinyMembershipId}/{characterId}/" : {
      "get" : {
        "tags" : [ "DestinyService" ],
        "description" : "Returns recent activity history for a given character.\n",
        "parameters" : [ {
          "$ref" : "#/parameters/BungieNetApiKey"
        }, {
          "$ref" : "#/parameters/MembershipType"
        }, {
          "$ref" : "#/parameters/DestinyMembershipId"
        }, {
          "$ref" : "#/parameters/CharacterId"
        }, {
          "$ref" : "#/parameters/ActivityMode"
        }, {
          "$ref" : "#/parameters/Count"
        }, {
          "$ref" : "#/parameters/Page"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "schema" : {
              "$ref" : "#/definitions/GetStatsResponse"
            }
          }
        }
      }
    },
    "/Destiny/EquipItem/" : {
      "post" : {
        "tags" : [ "DestinyService" ],
        "description" : "Equips an inventory item",
        "parameters" : [ {
          "$ref" : "#/parameters/BungieNetApiKey"
        }, {
          "$ref" : "#/parameters/OAuthAuthorization"
        }, {
          "name" : "EquipBody",
          "in" : "body",
          "required" : true,
          "schema" : {
            "properties" : {
              "membershipType" : {
                "type" : "string"
              },
              "itemId" : {
                "type" : "integer"
              },
              "characterId" : {
                "type" : "integer"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "schema" : {
              "$ref" : "#/definitions/BungieResponseBoilerplate"
            }
          }
        }
      }
    },
    "/App/GetAccessTokensFromCode/" : {
      "post" : {
        "tags" : [ "AppService" ],
        "description" : "Exchanges an auth code for an access token and refresh token",
        "parameters" : [ {
          "$ref" : "#parameters/BungieNetApiKey"
        }, {
          "name" : "authCode",
          "in" : "body",
          "required" : true,
          "schema" : {
            "properties" : {
              "code" : {
                "type" : "string",
                "required" : true,
                "description" : "Code passed back from authorization"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful Response",
            "schema" : {
              "$ref" : "#/definitions/AccessTokenResponse"
            }
          }
        }
      }
    },
    "/App/GetAccessTokensFromRefreshToken/" : {
      "post" : {
        "tags" : [ "AppService" ],
        "description" : "Exchanges a refresh token for a new access token and refresh token",
        "parameters" : [ {
          "$ref" : "#parameters/BungieNetApiKey"
        }, {
          "name" : "refreshToken",
          "in" : "body",
          "required" : true,
          "schema" : {
            "properties" : {
              "refreshToken" : {
                "type" : "string",
                "required" : true,
                "description" : "The refresh token from previous token exchange"
              }
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful response",
            "schema" : {
              "$ref" : "#/definitions/AccessTokenResponse"
            }
          }
        }
      }
    }
  },
  "parameters" : {
    "BungieNetApiKey" : {
      "name" : "x-api-key",
      "in" : "header",
      "description" : "BungieNet API Key",
      "required" : true,
      "type" : "string"
    },
    "OAuthAuthorization" : {
      "name" : "Authorization",
      "in" : "header",
      "description" : "OAuth 2 token",
      "required" : true,
      "type" : "string"
    },
    "MembershipType" : {
      "name" : "membershipType",
      "in" : "path",
      "description" : "XBL(1) or PSN(2)",
      "required" : true,
      "type" : "integer",
      "enum" : [ 1, 2 ],
      "format" : "int32"
    },
    "GetDefinitions" : {
      "name" : "definitions",
      "in" : "query",
      "description" : "Include definitions, use for debugging.",
      "type" : "boolean"
    },
    "DestinyMembershipId" : {
      "name" : "destinyMembershipId",
      "in" : "path",
      "description" : "A valid Destiny Membership Id.",
      "required" : true,
      "type" : "integer"
    },
    "CharacterId" : {
      "name" : "characterId",
      "in" : "path",
      "description" : "A valid character Id.",
      "required" : true,
      "type" : "integer"
    },
    "Count" : {
      "name" : "count",
      "in" : "query",
      "description" : "The number of items to request",
      "required" : false,
      "type" : "integer",
      "minimum" : 1
    },
    "Page" : {
      "name" : "page",
      "in" : "query",
      "description" : "The page of data to get. Starts at 1",
      "required" : false,
      "type" : "integer",
      "minimum" : 1
    },
    "ActivityMode" : {
      "name" : "mode",
      "in" : "query",
      "description" : "The type of activity",
      "required" : true,
      "type" : "string",
      "enum" : [ "None", "Story", "Strike", "Raid", "AllPvP", "Patrol", "AllPvE", "PvPIntroduction", "ThreeVsThree", "Control", "Lockdown", "Team", "FreeForAll", "TrialsOfOsiris", "Doubles", "Nightfall", "Heroic", "AllStrikes", "IronBanner", "AllArena", "Arena", "ArenaChallenge", "Elimination", "Rift", "AllMayhem", "MayhemClash", "MayhemRumble", "ZoneControl", "Racing", "ArenaElderChallenge", "Supremacy", "PrivateMatchesAll" ]
    }
  }
}